html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  

button {
    padding: 0;
    border: none;
    font: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
  
*,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
li {
    list-style: none;
}

.none{
    display: none;
}
body{
    background-color: #f4f4f5;
    height: 100vh;
}
.main{
    padding: 24px;
}

.main .container{
    max-height: 704px;
}


.container{
    max-width: 900px;
    height: 100vh;
    padding: 24px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: #fff;
}

.header{
    display: flex;
    padding-bottom: 24px;
}

.header__text{
    margin: auto 0;
    padding-left: 24px;
    
}

.header__text-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.header__text-links a:not(:first-child){
    padding-left: 17px;
}

.header__text-link img{
    padding-right: 8px;
}

.header-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.form{
    display: grid;
    justify-items: start;
    gap: 8px;
    /* grid-template-columns: 1; */
}

.form-text{
    margin-top: 24px;
}

.input-form{
    max-width: 400px;
    height: 44px;
    width: 100vh;
    padding: 12px;
}


.send-btn{
    height: 44px;
    width: 80px;
    border-radius: 4px;
    background-color: #5558FA;
    color: #fff;
    margin-top: 48px;
}

.error  .input-form{
    border: 1px solid red;
}

.error-label{
    color: red;
    display: block;
}

.tabs1 ,.tabs2{
    background-color: #f4f4f5;
    height: 100vh;
    padding: 24px;
}



.tabs__container{
    max-height: 821px;
}

.dots{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 80px;
    margin: 66px 0 50px 0;
}



.tabs1__form{
    display: grid;
    justify-items: start;
    gap: 48px;
    padding-left: 90px;
}


.input-box{
    display: grid;
    gap: 8px;
}

.tabs1__input , .tabs2__input{
    max-width: 300px;
    height: 44px;
    width: 100vh;
    padding: 12px;
    margin-right: 18px;
}

#field-sex {
    max-width: 300px;
    height: 44px;
    width: 100vh;
    padding: 12px;
}



.tabs__btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 80px;
    padding-bottom: 100px;
}

.back-btn{
    height: 44px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid #5558FA;
    color: #5558FA;
    margin-top: 48px;
}

.next-btn{
    height: 44px;
    width: 80px;
    border-radius: 4px;
    background-color: #5558FA;
    color: #fff;
    margin-top: 48px;
}

.tabs2__form{
    display: grid;
    justify-items: start;
    gap: 8px;
    padding-left: 90px;
}

.input-box2{
    display: flex;
}

.input-box2 span{
    margin: auto;
}

.form2__checkbox{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 5px;
}

.lable-radio , .lable-checkbox{
    margin-top: 24px;
}

.form2__radio{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 5px;
}


.container__tabs3{
    height: 500px;
}


#field-about{
    max-width: 680px;
    width: 100%;
    height: 84px;
    padding: 12px 80px 12px 12px;
}

